<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" th:lang="${lang}">

<head/>
<body>
<h1>Задача 2.4.2.</h1>
<p>Редактирование пользователя</p>
<p sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/new}">Добавить нового пользователя</a></p>
<p sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}">Список пользователей</a></p>
<p sec:authorize="isAuthenticated()"><a th:href="@{/user}">Мой профиль</a></p>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">

    <input type="hidden" th:field="*{id}" th:value="*{getId()}">

    <label for="name">Имя</label>
    <input type="text" th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'" id="name"
           th:field="*{firstName}" th:value="*{getFirstName()}" placeholder="Введите имя">
    <div th:if="${#fields.hasErrors('firstName')}" class="invalid-feedback" th:errors="*{firstName}"/>
    <br/>
    <label for="last_name">Фамилия</label>
    <input type="text" id="last_name" th:field="*{lastName}" th:value="*{getLastName()}"
           placeholder="Введите фамилию">
    <br/>
    <label for="email">Эл. почта</label>
    <input type="text" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" id="email"
           th:field="*{email}" th:value="*{getEmail()}" placeholder="Введите эл. почту">
    <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback" th:errors="*{email}"/>
    <br/>
    <label for="password">Пароль</label>
    <input type="password"
           th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" id="password"
           th:field="*{password}" th:value="*{getPassword()}" placeholder="Введите пароль">
    <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback" th:errors="*{password}"/>
    <br/>
    <label for="roles">Роли</label>
    <div id="roles">
        <div th:each="role : ${allRoles}">
            <input type="checkbox" name="roles" th:checked="${user.hasRole('__${role.name}__')}"
                   th:id="${role.name}" th:value="${role.name}">
            <label th:for="${role.name}" th:text="${role.name}"/>
        </div>
    </div>
    <br/>
    <label for="enabled-row">Активировать</label>
    <div id="enabled-row">
        <input type="checkbox" class="form-check-input" name="roles" th:checked="*{isEnabled()}"
               id="enabled" th:field="*{enabled}">
        <label class="form-check-label" for="enabled">Is enabled</label>
    </div>
    <br/>
    <button type="submit" th:text="*{getId()} ? 'Сохранить' : 'Создать'"/>
    <a href="/admin">Назад</a>
</form>
</body>
</html>
