<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="lang=${#locale.language}" th:lang="${lang}">

<head/>
<body>



<div class="container pt-4" th:object="${user}">
    <div class="row d-flex justify-content-center">
        <div class="col-auto">
            <div class="jumbotron">
                <p class="display-4">User info page</p>
                <hr class="my-4">
                <p><b>Hello, </b><span th:text="*{getFullName()}"/></p>
                <p><b>Your email </b><span th:text="*{email}"/></p>
                <p>
                    <b>and roles:</b>
                    <th:block th:each="role : *{getRoles()}">
                        &nbsp;<span th:text="${role.name}"/>
                    </th:block>
                </p>
                <p><b>Is enabled: </b><span th:text="*{enabled}"/></p>
                <p><a type="button" th:href="@{/logout}" class="btn btn-secondary bg-secondary text-white">Logout</a></p>
            </div>
        </div>
    </div>
</div>

<div></div>











<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">

        <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" th:href="@{/admin/new}">Create new user</a></li>
        <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" th:href="@{/admin}">User list</a></li>
        <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/user}">Show profile</a></li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a type="button" th:href="@{/logout}" class="btn btn-outline-light">Logout</a>
        </li>
    </ul>
</div>
</body>
</html>
