<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head/>
<body>
<h1>Задача 2.4.2.</h1>
<p>Список пользователей</p>
<a type="button" th:href="@{/admin/new}">Добавить нового пользователя</a>
<a th:href="@{/user}">Мой профиль</a>
<a th:href="@{/logout}">Выйти</a>
<table th:border="1">
    <tr>
        <th>Полное имя</th>
        <th>Эл. почта</th>
        <th>Активность</th>
        <th>Роли</th>
        <th>Операции</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getFullName()}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.enabled}"></td>
        <td>
            <th:block th:each="role : ${user.roles}">
                &nbsp;<span th:text="${role.name}"/>
            </th:block>
        </td>
        <td>
            <a type="button" th:href="@{/admin/{id}/edit(id=${user.id})}">Изменить</a>
            <a type="button" th:href="@{/admin/{id}/delete(id=${user.id})}">Удалить</a>
        </td>
    </tr>
</table>
</body>
</html>
