<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head/>
<body>
<a type="button" th:href="@{/logout}">Выйти</a>
<div th:object="${user}">
    <p>Информация о пользователе</p>
    <hr>
    <p><b>Привет, </b><span th:text="*{getFullName()}"/></p>
    <p><b>Ваша эл. почта: </b><span th:text="*{email}"/></p>
    <p>
        <b>Роли:</b>
        <th:block th:each="role : *{getRoles()}">
            &nbsp;<span th:text="${role.name}"/>
        </th:block>
    </p>
    <p><b>Активный: </b><span th:text="*{enabled}"/></p>
</div>
<p sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/new}">Добавить нового пользователя</a></p>
<p sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}">Список пользователей</a></p>
</body>
</html>
